.container, .card {
  border-radius: 6px;

  &.white {
    background-color: $offwhite;
    color: $offblack;

    &.black-back {
      box-shadow: 2px 2px 150px $darkpink;
      @media only screen and (max-width: 760px) {
        box-shadow: 2px 2px 80px $darkpink;
      }
    }
    &.white-back {
      box-shadow: 2px 2px 100px $lightblack;
      @media only screen and (max-width: 760px) {
        box-shadow: 2px 2px 50px $lightblack;
      }
    }
  }
  &.pink, &.green, &.black {
    &.black-back {
      box-shadow: 2px 2px 150px $lightpink;
      @media only screen and (max-width: 760px) {
        box-shadow: 2px 2px 80px $lightpink;
      }
    }
    &.white-back {
      box-shadow: 2px 2px 50px $lightblack;
      @media only screen and (max-width: 760px) {
        box-shadow: 2px 2px 30px $lightblack;
      }
    }
    h2 {
      color: $offwhite;
    }
    h3 {
      color: $offblack;
    }
  }
  &.pink {
    background-color: $pink;
    color: $offwhite;
  }
  &.green {
    background-color: $green;
    color: $offwhite;
  }
  &.black {
    background-color: $offblack;
    color: $offwhite;
  }

  &.transparent {
    &.black-back {
      background-color: transparent;
      color: $offwhite;
    }
    &.white-back {
      background-color: transparent;
      color: $offblack;
    }
  }
}

.container {
  padding: 72px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: top;
  background-size: cover 60%;
  background-repeat: no-repeat;

  &.large, &.small {
    width: 100%;
    max-width: 1350px;
  }
  &.large {
    min-height: 500px;
    margin-bottom: 72px;

    @media only screen and (max-width: 760px) {
      margin-bottom: 48px;
    }
    @media only screen and (max-width: 550px) {
      margin-bottom: 24px;
    }
  }
  &.small {
    min-height: 150px;
    padding: 42px;
  }
  &.contact {
    margin-bottom: 0;
  }

  &:before {
    content: "";
    border-radius: 6px 6px 0px 0px;
    position: absolute;
    z-index: 0;
    height: 55%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: 780px) {
      height: 48%;
    }
    @media only screen and (max-width: 760px) {
      height: 45%;
    }
    @media only screen and (max-width: 620px) {
      height: 45%;
    }
    @media only screen and (max-width: 470px) {
      height: 40%;
    }
    @media only screen and (max-width: 390px) {
      height: 35%;
    }
  }

  &.about .content-width .content-row:nth-child(3) {
    margin-top: 72px;

    @media only screen and (max-width: 760px) {
      margin-top: 48px;
    }
    @media only screen and (max-width: 550px) {
      margin-top: 24px;
    }
  }

  &.home-nav {
    position: absolute;
    height: calc(100vh + 72px + 19px);
    width: calc(100% - 72px * 2);
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;

    @media only screen and (max-width: 760px) {
      margin-top: 48px;
      height: calc(100vh + 48px + 19px);
      width: calc(100% - 48px * 2);
    }
    @media only screen and (max-width: 550px) {
      margin-top: 24px;
      height: calc(100vh + 24px + 19px);
      width: calc(100% - 24px * 2);
    }
  }

  @media only screen and (max-width: 760px) {
    padding: 48px;
  }
  @media only screen and (max-width: 550px) {
    padding: 24px;
  }
}

.container.about:before {
  background-image: url('../resources/images/green-placeholder.png');
}


.card.team.image-right:before {
  background-image: url('../resources/images/person-placeholder.png');
}

.card.project.image-right:before {
  background-image: url('../resources/images/person-placeholder.png');
}

.card.project.image-left:before {
  background-image: url('../resources/images/person-placeholder.png');
}

.card {
  padding: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;

  &.large, &.medium, &.small, &.tiny {
    min-height: 300px;
  }
  &.large {
    width: 100%;
  }
  &.medium {
    width: calc(80% - 12px);
  }
  &.small {
    width: calc(60% - 12px);
  }
  &.tiny {
    width: calc(40% - 12px);
  }
  &.half {
    width: calc(50% - 12px);
  }

  @media only screen and (max-width: 760px) {
    &.medium, &.small, &.tiny, &.half {
      width: calc(50% - 12px);
    }
  }
  @media only screen and (max-width: 620px) {
    &.large, &.medium, &.small, &.tiny, &.half {
      width: 100%;
      min-height: 200px;
    }
  }

  h1, h2, h3, h4, p, a {
    max-width: 300px;

    @media only screen and (max-width: 870px) {
      max-width: 250px;
    }

    @media only screen and (max-width: 700px) {
      max-width: 300px;
    }
  }

  &.image-left {
    padding-left: calc(20% + 12px);

    @media only screen and (max-width: 980px) {
      padding-left: 0;
      padding-right: 0;
      margin: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.image-right:before {
    content: "";
    border-radius: 0px 6px 6px 0px;
    position: absolute;
    z-index: 0;
    width: calc(100% - 300px - 42px);
    height: 100%;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: 870px) {
      width: calc(100% - 250px);
    }

    @media only screen and (max-width: 710px) {
      display: none;
    }
  }

  &.image-left:before {
    content: "";
    border-radius: 6px;
    box-shadow: 2px 2px 50px $lightblack;
    position: absolute;
    z-index: 0;
    width: calc(50% - 48px);
    height: 100%;
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: 980px) {
      display: none;
    }
    @media only screen and (max-width: 620px) {
      display: flex;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      top: calc(100% - 24px);
      background-image: none;
      background-color: $offblack;
    }
  }

  &.image-right-small:before {
    width: calc(50% - 24px);

    @media only screen and (max-width: 870px) {
      width: calc(30% - 24px);
    }

    @media only screen and (max-width: 710px) {
      display: none;
    }
  }

  &.project {
    p, a {
      max-width: 380px;
    }
    p {
      color: $offwhite;
    }

    &.image-right-small {
      p, a {
        max-width: 300px;
      }
    }
  }

  &.transparent {
    &.project {
      p {
        color: $offblack;
      }
    }
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    margin-top: 12px;

    p {
      text-transform: uppercase;
      font-family: 'CooperHewitt-Medium';
      font-size: 10px;
      line-height: 38px;
      margin-right: 12px;

      &:before {
        content: "#";
      }
    }
  }

  @media only screen and (max-width: 760px) {
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.card.project.image-left:before {
  @media only screen and (max-width: 620px) {
    background-image: none;
  }
}

.content-width {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 940px;

  .content-row {
    margin-top: 24px;
    margin-bottom: 24px;

    &:first-child {
      margin-top: 0;
      margin-bottom: 32px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &.team {
      &:nth-child(even) {
        transform: translateX(5%);
      }
      &:nth-child(odd) {
        transform: translateX(-5%);
      }
      &:last-child {
        margin-bottom: 72px;

        @media only screen and (max-width: 760px) {
          margin-bottom: 48px;
        }
        @media only screen and (max-width: 550px) {
          margin-bottom: 24px;
        }
      }

      @media only screen and (max-width: 760px) {
        &:nth-child(odd), &:nth-child(even) {
          transform: translateX(0);
        }
      }
    }
  }

  .card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    &.text {
      margin-top: 64px;
      justify-content: space-between;

      .left, .right {
        justify-content: flex-start;

        &.title {
          max-width: 320px;

          h2 {
            font-size: 32px;

            @media only screen and (max-width: 350px) {
              font-size: 22px;
            }
          }

          @media only screen and (min-width: 760px) {
            margin-right: 32px;
          }

          @media only screen and (max-width: 760px) {
            margin-bottom: 18px;
          }
        }
        &.body {
          max-width: 400px;
          &.contact {
            max-width: 500px;
          }
        }
      }
    }

    .left, .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;

      &.align-left {
        align-items: flex-start;
      }
      &.align-right {
        align-items: flex-end;

        @media only screen and (max-width: 760px) {
          align-items: flex-start;
        }
      }

      @media only screen and (max-width: 760px) {
        width: 100%;
      }
    }

    @media only screen and (max-width: 760px) {
      flex-direction: column;

      .right {
        margin-top: 24px;
      }
    }
  }
}
