footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 72px;

  .footer-column {
    width: calc(100% / 6);

    h5 {
      font-size: 18px;
      font-family: 'CooperHewitt-Semibold';
      color: $offwhite;
      margin-bottom: 12px;
    }

    ul li {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    ul li a, ul li {
      font-size: 16px;
      font-family: 'CooperHewitt-Medium';
      text-decoration: none;
      color: $lightwhite;
      transition: all 0.4s;

      &:hover {
        color: $offwhite;
      }
    }

    img {
      width: 56px;
    }
  }

  &.black {
    .footer-column {
      h5 {
        color: $offblack;
      }

      ul li a, ul li {
        color: $lightgrey;

        &:hover {
          color: $offblack;
        }
      }
    }
  }
}
