footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 72px;

  @media only screen and (max-width: 870px) {
    width: 100%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-column {
    width: calc((100% / 6) - 12px);
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @media only screen and (max-width: 870px) {
      width: calc((100% / 3) - 24px);
      margin-left: 12px;
      margin-right: 12px;

      &:nth-child(3) {
        margin-bottom: 24px;
      }
    }

    @media only screen and (max-width: 580px) {
      width: calc((100% / 2) - 84px);
      margin-left: 42px;
      margin-right: 42px;

      &:nth-child(2) {
        margin-bottom: 18px;
      }
    }

    @media only screen and (max-width: 350px) {
      width: calc((100% / 2) - 42px);
      margin-left: 21px;
      margin-right: 21px;

      &:nth-child(2) {
        margin-bottom: 12px;
      }
    }

    h5 {
      font-size: 18px;
      font-family: 'CooperHewitt-Semibold';
      color: $offwhite;
      margin-bottom: 12px;

      @media only screen and (max-width: 550px) {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }

    ul li {
      margin-top: 7px;
      margin-bottom: 7px;
    }

    ul li a, ul li {
      font-size: 16px;
      font-family: 'CooperHewitt-Medium';
      text-decoration: none;
      color: $lightwhite;
      transition: all 0.4s;

      @media only screen and (max-width: 550px) {
        font-size: 12px;
      }

      &:hover {
        color: $offwhite;
      }
    }

    img {
      width: 56px;
    }
  }

  &.black {
    .footer-column {
      h5 {
        color: $offblack;
      }

      ul li a, ul li {
        color: $lightgrey;

        &:hover {
          color: $offblack;
        }
      }
    }
  }

  @media only screen and (max-width: 760px) {
    margin-top: 48px;
  }
  @media only screen and (max-width: 550px) {
    margin-top: 48px;
  }
}
