body.home {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;

  ul, li {
    user-select: none;
  }

  li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
      color: $lightblack;
      transition: all 0.4s;
      &.active, &:hover {
        color: $black;
      }
    }
  }

  .left {
    font-family: 'SangBleuEmpire-Black';
    color: $black;
  }

  &.white {
    .left {
      color: $offwhite;
    }
    li a {
      color: $lightwhite;
      &.active, &:hover {
        color: $offwhite;
      }
    }
  }
}
