body.home {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a, li {
    font-size: 16px;
    line-height: 16px;

    @media only screen and (max-width: 350px) {
      font-size: 14px;
    }
  }

  ul, li {
    user-select: none;
  }

  li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
      color: $lightblack;
      transition: all 0.4s;
      &.active, &:hover {
        color: $black;
      }
    }
  }

  .left {
    font-family: 'SangBleuEmpire-Black';
    color: $black;
    font-size: 16px;
    line-height: 16px;
  }

  &.white {
    .left {
      color: $offwhite;
    }
    li a {
      color: $lightwhite;
      &.active, &:hover {
        color: $offwhite;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .right, .left {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    ul {
      margin-top: 18px;

      @media only screen and (max-width: 350px) {
        margin-top: 12px;
      }
    }

    li {
      margin-left: 0px;
    }
  }
}
