*, html, body {
  font-family: 'CooperHewitt-Book';
}

.empire-black {
  font-family: 'SangBleuEmpire-Black';
}
.cooper-thin-i {
  font-family: 'CooperHewitt-LightItalic';
}
.pink {
  color: $pink;
}
.green {
  color: $green;
}
.crossed {
  text-decoration: line-through;
}

p {
  line-height: 140%;
}

h1, h2, h3, h4, a, p {
  &.white {
    color: $offwhite;
  }
}

h1 {
  font-size: 72px;
  font-family: 'SangBleuKingdom-Light';
  font-weight: lighter;
}

h2, h3 {
  font-size: 24px;
  line-height: 130%;
}

h2 {
  font-family: 'SangBleuKingdom-Medium';
  font-weight: lighter;
}

h3 {
  font-family: 'CooperHewitt-Book';
}

h4 {
  font-size: 32px;
  font-family: 'SangBleuKingdom-Regular';
  font-weight: lighter;
  text-transform: uppercase;
  color: $lightblack;
  margin-bottom: 12px;
  margin-top: 42px;
}

a {
  &.card-link {
    font-family: 'CooperHewitt-Medium';
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    color: $offblack;
    line-height: 38px;

    &.pink {
      color: $pink;
    }
  }
}

p {
  font-size: 16px;
  font-family: 'CooperHewitt-Book';
  color: $offblack;
}
