/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/

$lightblack: rgba(#000000, 0.3);
$black: #000000;
$offblack: #272727;

$lightgrey: #BBBBBB;
$grey: #7E7E7E;

$lightwhite: rgba(#ffffff, 0.3);
$white: #ffffff;
$offwhite: #FAFAFA;

$green: #7AE1BF;

$lightpink: rgba(#f57eb6, 0.5);
$pink: #F57EB6;
$darkpink: rgba(#d4136e, 0.8);
